@charset "UTF-8";
/* -----------------------.초기화 -----------------------*/

html{
	/* background: #FFFFF2; */
	opacity: 30%;
}

a, a:hover, a:visited, a:link, a:active{
	font-weight: bold;
	display: inline-block;
	text-decoration: none;	
	color: inherit;
}

select{
	width: 230px;
	padding:.8em .5em;
	font-family: inherit;
	border: 2px solid #E4EFE6;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url("../images/day/arrow_icon.png") no-repeat 95% 50%;
}

	select:-ms-expand{
		display: none;
	}


/* -----------------------.main .body -----------------------*/

.main{
	font-size: 12px;
	/* font-family: 아직안넣음; */
	
	/* width : 100%; */
	min-height : 500px; 

	margin-left: 10px;
}

.body{
	margin-top: 46px;
}


/* ---------------------day main---------------------*/

.day-main{
	/* 아래의 margin-top은 모두 들어가야 함을 기억해! */
	margin-top: 46px;

	display: flex;
	flex-direction: column;	
	justify-content: space-around;
	align-items: center;	
}

	.day-main div:first-child img{
		/* 사이즈 확인하고 넣자 */
	}

.nav-box{
	width: 240px;
	height: 90px;

	margin-bottom : 10px;
	
	background: #E9F7EF ;
	
	display:flex;
	align-items : center;
	justify-content:center;

	font-size: 13px;
	color: #808079;
	
}

	.nav-box:hover{
		border: solid 3px #E4EFE6;
		background: #ffffff;
	}
	
	
/* ---------------------day write---------------------*/

#writeImage{
	width: 42px;
	height: 42px;
	margin-left: 10px;
}

.write-box{
	width : 320px;
	min-height : 300px;
	margin-top: 10px;
	margin-right: 0px;
	padding:10px 7px;
	
	
	display: flex;
	flex-direction: column;
	align-content: space-around;
	
	border: solid 3px #E4EFE6;
}

	.write-box h3{
		margin-bottom : 5px;
		color: #808079;
	}
	
	.write-box textarea,
	.write-box input{
		margin-bottom: 10px;
	}





	
