@charset "UTF-8";
/* -----------------------.초기화 -----------------------*/

html{
	background: #FFFFF2;
	opacity: 30%;
}

a, a:hover, a:visited, a:link, a:active{
	font-weight: bold;
	display: inline-block;
	text-decoration: none;	
	color: inherit;
}

select{
	width: 230px;
	padding:.8em .5em;
	font-family: inherit;
	border: 3px solid #E4EFE6;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url("../images/day/arrow_icon.png") no-repeat 95% 50%;
}

	select:-ms-expand{
		display: none;
	}


/* -----------------------.main -----------------------*/

.main{
	font-size: 12px;
	/* font-family: 아직안넣음; */
	
	width : 100%;
	min-height : 500px; 

	margin-left: 10px;
}


/* ---------------------day-main---------------------*/

.day-main{
	/* 아래의 margin-top은 모두 들어가야 함을 기억해! */
	margin-top: 46px;

	display: flex;
	flex-direction: column;	
	justify-content: space-around;
	align-items: center;	
}

	.day-main div:first-child img{
		/* 사이즈 확인하고 넣자 */
	}
	
	.day-main div img{
		margin-bottom: 20px;
	}

.nav-box{
	width: 240px;
	height: 90px;

	margin-bottom : 10px;
	
	background: #F2FFF5;
	
	display:flex;
	align-items : center;
	justify-content:center;

	font-size: 13px;
	color: #C0C0C0;
	
}

	.nav-box:hover{
		border: solid 2px;
		border-color: #E4EFE6;
		background: #ffffff;
	}
	
	
/* ---------------------write---------------------*/
#writeImage{
	width: 45px;
}




	
