@charset "UTF-8";

/* -- tag style reset --------------------------- */
html {
	height: 100%;
}

body {
	margin: 0px;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
/* 
li {
	padding: 0;
	margin: 0;
} */

/* --- my style cascade ------------------------------- */
.hidden {
	display: none;
}

/* --- .header --------------------------------------- */
.header{
   height: 55px;
   width:100%;
   position: fixed;
   background: #ffffff;
   border-bottom: 1px solid #e9e9e9;
   z-index: 1;
}

   .header > h1{
      font-size: 14px;
      height:inherit;
      display: flex;
      justify-content: center;
      align-items: center;      
   }
   
/* --- .main-menu ------------------------------------ */
   .main-menu {
		position: relative;
		top: -45px;
		padding-left: 10px;
		padding-right: 30px;
		
	}
      .main-menu ul{
         display: flex;
         justify-content:space-between;
         align-items: center;	
      }
   
         .main-menu li,
         .main-menu li a{
            width: 38px;
            height: 38px;
            
            display: flex;
            justify-content: center;
            align-items: center;
         }
                 
			.main-menu li:last-child div:first-child img{
				width: 30px;
			}
                
         

/* --- .main----------------------------------------- */
.list-main {
	padding-top: 25px;
	min-height: 300px;
}

/* .main .note-list {
	font-size: 14px;
	line-height: 19px;
	color: #595959;
}

.main .note-list ul {
	
}

.main .note-list li {
	padding: 15px;
	border-bottom: 1px solid #777;
}

.note-list li>div:first-child {
	font-size: 17px;
	line-height: 21px;
	color: black;
}

.note-list li>div:not (:first-child ){
	margin-top: 4px;
}

.note-list li>div:last-child {
	font-size: 13px;
	display: flex;
	justify-content: space-between;
}

.note-list li>div>span:first-child {
	color: #6bacca;
} */

/* --- .aside----------------------------------------- */				
.aside{
	width:80%;
	height: calc(100% - 46px);
	background: #fff; /* #00000077 r,g,b,alpha(투명) */
	/* position: relative; 밀어내버림 ㅠㅡㅠ */
	position: fixed;
	top:46px;
	left:-80%;
	
	transition:1s;
}

.aside.show{
	z-index:1;
	left: 0%;
	box-shadow: 3px 3px 3px #544954; /* 마지막 3은 깊이. 종이와 얼마나 떠있는지 */
}


/* --- .footer----------------------------------------- */

.footer{
	height: 70px;
  	padding :10px;
  	margin-top : 10px;
	
	font-size: 10px;
	color : #ABB2B9;
	text-align: center;
	
	border-top: 1px solid #e9e9e9;
	
}

.list-title{
	padding-left: 20px;
    padding-top: 40px;
}


.smr_allitem, 
.tab_txtitem li {
    position: relative;
}
.list_horizontal {
    overflow: hidden;
    padding: 0 15px;
}

.list_horizontal li {
    max-height: 73px;
    padding-bottom: 13px;
}

.list_horizontal li:first-child {
    margin-top: 10px;
}


.smr_allitem .inven_cont {
    padding-top: 5px;
}

.thumb_box:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .06;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    content: '';
}

.list_horizontal .item_info {
    display: table-cell;
    width: 100%;
    padding-left: 10px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.list_horizontal {
	overflow: hidden;
	padding: 0 15px
}

.list_horizontal li {
	max-height: 73px;
	padding-bottom: 13px;
	border-bottom: 1px solid #f2f4f6;
    border-top: 1px solid #f2f4f6;
}

.list_horizontal .link_contents {
	display: block;
	display: table;
	overflow: hidden;
	width: 100%
}

.list_horizontal .thumb_box {
	float: left;
	width: 127px;
	height: 71px;
	margin-top: 2px
}

.list_horizontal .thumb_img {
	width: 100%
}

.link_contents .ico_closed, .link_contents .ico_live, .link_contents .ico_replay
	{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9
}

.list_horizontal .item_info {
	display: table-cell;
	width: 100%;
	padding-left: 10px;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.list_horizontal .tit_item {
	display: block;
	display: -webkit-box;
	overflow: hidden;
	max-height: 36px;
	margin-bottom: 5px;
	font-weight: 400;
	line-height: 18px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	word-break: break-all
}

.list_horizontal .info_append, 
.list_horizontal .txt_subtitle {
	display: block;
	font-size: 13px;
	color: #929292;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden
}

.list_horizontal .txt_subtitle {
	display: -webkit-box;
	max-height: 18px;
	line-height: 18px
}

.list_horizontal .info_append {
	display: -webkit-box;
	height: 19px;
	padding-left: 1px;
	margin-top: -1px;
	line-height: 19px
}

.list_vertical .mark_time, .mark_play {
	position: absolute;
	font-size: 12px;
	color: #fff;
	right: 0;
	bottom: 0
}

.link_txtitem {
	font-family: "Noto Sans Medium", AppleSDGothicNeo, "Malgun Gothic",
		"맑은 고딕", sans-serif
}

.tab_txtitem .link_txtitem {
	display: block;
	padding: 10px 12px;
	font-size: 16px;
	line-height: 25px;
	color: #949494
}
.link_more {
	display: block;
	overflow: hidden;
	height: 30px;
	padding-top: 7px;
	background: #fff
}

.link_more .ico_kakaotv {
	display: block;
	width: 17px;
	height: 10px;
	margin: 0 auto;
	background-position: -22px -22px
}
.more-img{
	width: 40px;
    height: 40px;
}

.form {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 45px;
	display: flex;
	justify-content: space-between;
}

.btn-list{
	position:fixed;
	right:10px;
	bottom:10px;

	border: 1px solid red;
}

.btn-list> ul{
	border: 1px solid blue;
	display: flex;
	flex-direction: column;
}

.btn-list> ul> li{
	background: pink;
	width: 50px;
	height: 50px;
	
	position:absolute;
	right:0px;
	bottom:0px;
	
	border-radius: 25px;
	
	transition:500ms;
}

.btn-list > ul> li:first-child {
	order: 2;
	background: blue;
	
	z-index: 100;
}

.box{
	display: flex;
  
    min-height: 300px;
    height: 100%;
    flex-direction: column;
}
.search-img{
	width: 30px;
    height: 30px;
}

/* .search-box {
	width: 190px;
	height: 10px;
	background: #fff; #00000077 r,g,b,alpha(투명)
	position: relative; 밀어내버림 ㅠㅡㅠ
	position: fixed;
	left:130px;
	top: -40px;
	transition: 1s;
}
 */
/* .search-box.show {
	z-index: 1;
	top: 65px;
	bottom: 30%;
	height: 50px;
	box-shadow: 3px 3px 3px #544954; 마지막 3은 깊이. 종이와 얼마나 떠있는지
	마지막 3은 깊이. 종이와 얼마나 떠있는지
} */
.search{
	display: flex;
}
.search-box{
	border: none;
}
.search-box.show{
	border-bottom: 1px solid black;
}
.u_bt_top {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 44px;
    height: 44px;
    margin: 0 8px 8px 0;
    z-index: 10000;
}
	.u_bt_top a {
 /*    display: block;
    overflow: hidden; */
    width: 42px;
    height: 42px;
    background-position: 0 -208px;
   /*  font-size: 1px; */
    line-height: 1px;
    vertical-align: top;
   /*  color: transparent; */
}

.btn_top {
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: block;
    opacity: 1;
    border: 1px solid black;
    border-radius: 5px;
}

.category-box{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.category-list{
	margin-bottom: 30px;
	display: flex;
    justify-content: space-around;
}
}

.button-box{
	display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}

.editor{
	padding-top: 30px;
}
.select-box{
	width: 95px;
    height: 24px;
}

.title{
	display: flex;
    padding-top: 10px;
}

.category-size{
	display: flex;
    padding-top: 10px;
}
.reg-box{
	padding-top: 50px;
}
.reg-box h3{
	font-size: 13px;
    color: #929292;
    padding-right: 20px;
}
.title-style{
	margin-left: 26px;
    width: 235px;
}

.main-box {
	display: flex;
	justify-content: center;
	min-height: 300px;
	height: 83%;
	flex-direction: column;
}
.main-box div:last-child{
	display: flex;
	justify-content: space-around;
}
.reg-form{
	padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}












