@charset "UTF-8";

/* -- tag style reset --------------------------- */
html{
   height: 100%;
}

body{
   margin: 0px;
   height: 100%;
}

h1,h2,h3,h4,h5,h6{
   margin: 0px;
}

ul{
   list-style-type: none;
   padding: 0px;
   margin: 0px;
}

li{
   
}

/* --- my style cascade ------------------------------- */
.hidden{
   display: none;
}

/* --- .header --------------------------------------- */
.header{
   height: 45px;
   width:100%;
   position: fixed;
   background: #ffffff;
   border-bottom: 1px solid #e9e9e9;
}

   .header > h1{
      font-size: 14px;
      height:inherit;
      display: flex;
      justify-content: center;
      align-items: center;      
   }
   /* --- .main-menu ------------------------------------ */
   .main-menu{
      position: relative;
      top:-45px;   
   }
      .main-menu ul{
         display: flex;
         justify-content:space-between;
      }
   
         .main-menu li,
         .main-menu li a{
            width: 45px;
            height: 45px;
            
            display: flex;
            justify-content: center;
            align-items: center;
         }
     
         
	/* --- .main----------------------------------------- */
.main{
	padding-top: 45px;
}
	
	.main .note-list{
		font-size: 14px;
		line-height : 19px;
		color: #595959;
	}
		
		.main .note-list ul{
		
		}	
			
			.main .note-list li{
				padding: 15px;
				border-bottom: 1px solid #777;
			}	
						
			.note-list li>div:first-child{
				font-size: 17px;
				line-height : 21px;
				color: black;
			}
			
				.note-list li> div:not(:first-child){
					margin-top: 4px;
				}
			
			.note-list li>div:last-child{
				font-size: 13px;
				display: flex;
				justify-content: space-between;
			}
         	
         		.note-list li>div>span:first-child {
					color: #6bacca; 
				}

.btn-list{
	position: fixed;
	right : 20px;
	bottom : 20px;
	
	border: 1px solid red;
	
}	

.btn-list> ul{
	border: 1px solid blue;
	display: flex;
	flex-direction: column;
}	

.btn-list> ul> li{
	background: pink;
	width: 50px;
	height: 50px;
	
	position:absolute;
	right:0px;
	bottom:0px;
	
	border-radius: 25px;
	
	transition:500ms;
}

.btn-list> ul> li:first-child{
	order:2;	
	background: blue;
	z-index: 100; /* 겹쳐지는 정도(퍼센티즈) */
}

.note-list li> div:first-child{
 	font-size: 17px;
 	line-height: 21px;
 	color: #000;
}

.note-list li> div:nth-child(2){
	/* display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:3; */
	overflow: hidden; 
	
	line-height: 1.2em;
	max-height: 2.4em;
}

.note-list li> div:not(:first-child){
	margin-top: 5px;
}


.note-list li> div:last-child{
	font-size: 13px;
	display: flex; 
	justify-content: space-between;
}

/* .btn-list> ul> li:first-child:hover~li{
	bottom: 100px;
} */

#edit-button.show{
	bottom: 70px;
}

#del-button.show{
	bottom: 140px;	
}
				
				
.aside{
   width:80%;
   height: calc(100% - 46px);
   background: #fff; /* #00000077 r,g,b,alpha(투명) */
   /* position: relative; 밀어내버림 ㅠㅡㅠ */
   position: fixed;
   top:46px;
   left:-85%;
   
   transition:1s;
}

.aside.show{
   left: 0%;
   box-shadow: 3px 3px 3px #544954; /* 마지막 3은 깊이. 종이와 얼마나 떠있는지 */
}
         
  	/* --- .text----------------------------------------- */
         
.text {
	position: relative;
}

.text-concat {
	position: relative;
	display: inline-block;
	word-wrap: break-word;
	overflow: hidden; /* max-height를 넘어서면 숨긴다. */
	max-height: 2.4em;
	/* (Number of lines you want visible) * (line-height) */
	line-height: 1.2em;
	text-align: justify;
}

.text.ellipsis::after {
	content: "...";
	position: absolute;
	right: -12px;
	bottom: 4px;
}