@charset "UTF-8";

/* -- tag style reset --------------------------- */
html {
	height: 100%;
}

body {
	margin: 0px;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

li {
	padding: 0;
	margin: 0;
}

/* --- my style cascade ------------------------------- */
.hidden {
	display: none;
}

/* --- .header --------------------------------------- */
.header {
	height: 45px;
	width: 100%;
	position: fixed;
	background: #ffffff;
	border-bottom: 1px solid #e9e9e9;
}

.header>h1 {
	font-size: 14px;
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* --- .main-menu ------------------------------------ */
.main-menu {
	position: relative;
	top: -45px;
	padding-left: 10px;
	padding-right: 30px;
}

.main-menu ul {
	display: flex;
	justify-content: space-between;
}

.main-menu li, .main-menu li a {
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-menu li:last-child div:first-child img {
	width: 32px;
}

/* --- .main----------------------------------------- */
.main {
	padding-top: 25px;
	min-height: 300px;
	height: 520px;
}

/* .main .note-list {
	font-size: 14px;
	line-height: 19px;
	color: #595959;
}

.main .note-list ul {
	
}

.main .note-list li {
	padding: 15px;
	border-bottom: 1px solid #777;
}

.note-list li>div:first-child {
	font-size: 17px;
	line-height: 21px;
	color: black;
}

.note-list li>div:not (:first-child ){
	margin-top: 4px;
}

.note-list li>div:last-child {
	font-size: 13px;
	display: flex;
	justify-content: space-between;
}

.note-list li>div>span:first-child {
	color: #6bacca;
} */

.home_feed {
	border-top: 1px solid #edf0f2
}

.home .home_tit {
    padding: 17px 18px 0 20px;
}

.home.feed .home_tit {
	position: relative;
	padding: 0 15px
}

.home.feed .home_tit h3 {
	position: relative;
	padding: 4px 0;
	font-size: 17px;
	line-height: 19px;
	font-weight: 400;
	color: #181a1d;
	letter-spacing: -.5px
}

.home .mv_lst .cds_lst dl {
	padding-right: 0
}

.cds_lst_type2 {
	overflow-x: hidden;
}

.cds_lst_type2 li {
    position: relative;
    margin-top: -20px;
}

	.cds_lst_type2 .list_a {
		position: relative;
		min-height: 81px;
		padding: 13px 0;
		margin: 0 18px;
		border-top: 1px solid #f2f4f6
	}

		.cds_lst_type2 li:first-child .list_a {
			border-top: 0;
		}

		.cds_lst_type2 li:last-child .list_a {
			padding: 13px 0 24px
		}

.cds_lst_type2 .cds_a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

		
.cds_lst_type2 .cds_thm {
	position: absolute;
	left: 0;
	top: 13px;
	width: 144px;
	height: 81px
}

.cds_lst_type2 .cds_thm img {
	width: 100%;
	height: 100%
}

.cds_lst_type2 .tm_b {
	position: absolute;
	bottom: 0;
	right: 0;
	min-width: 42px;
	height: 21px;
	padding: 0 6px;
	line-height: 21px;
	font-size: 13px;
	letter-spacing: -.4px;
	color: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, .5)
}

.cds_lst_type2 .inner {
	display: block;
	min-height: 81px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	vertical-align: middle;
	-webkit-box-pack: center
}

.cds_lst_type2 dl {
	margin-left: 144px;
	padding: 0 0 0 15px
}

.cds_lst_type2 .title h3>span {
	margin-top: -1px;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: -.3px;
	color: #242424;
	overflow: hidden;
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-height: 22px;
	max-height: 44px
}

.cds_lst_type2 .ch {
	margin: 5px 0 0
}

.cds_lst_type2 .ch .ch_txt {
	position: relative;
	z-index: 1;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: -.4px;
	color: #4e88cf
}

.cds_lst_type2 .meta {
	overflow: hidden;
	margin: 1px 0 -2px;
	font-size: 0;
	line-height: 0
}

.cds_lst_type2 .meta .cds_ifc {
	display: inline-block;
	margin-top: 3px;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: -.6px;
	color: #8f8f8f
}

.cds_lst_type2 .meta .cds_ifc:before {
	content: '';
	float: left;
	margin: 0 5px 0 0
}

.cds_lst_type2 .meta .cds_ifc.cnp {
	margin-right: 10px
}

.cds_lst_type2 .meta>.cds_ifc+time::before {
	display: inline-block;
	height: 11px;
	margin: 0 8px 0 1px;
	border-left: 1px solid #e4eaed;
	content: ''
}




