@charset "UTF-8";

/* 여기는 공통으로 사용하기 때문에 코드 수정/추가/삭제시 아래에 주석달아주세요 */
/* 초기화, header, main-menu, aside, footer, main은 padding-top만*/

/* -- tag style reset --------------------------- */
html{
   height: 100%;
}

body{
   margin: 0px;
   height: 100%;
}

h1,h2,h3,h4,h5,h6{
   margin: 0px;
   width: inherit;
}

ul{
   list-style-type: none;
   padding: 0px;
   margin: 0px;
}

li{
   
}

a{
	/* 초기화가 모더라..(글적) */
}

/* --- my style cascade ------------------------------- */
.hidden{
   display: none;
}

/* --- .header --------------------------------------- */
.header{
   height: 55px;
   width:100%;
   position: fixed;
   background: #ffffff;
   border-bottom: 1px solid #e9e9e9;
}

   .header > h1{
      font-size: 14px;
      height:inherit;
      display: flex;
      justify-content: center;
      align-items: center;      
   }
   
/* --- .main-menu ------------------------------------ */
   .main-menu {
		position: relative;
		top: -45px;
		padding-left: 10px;
		padding-right: 30px;
		
	}
      .main-menu ul{
         display: flex;
         justify-content:space-between;
         align-items: center;	
      }
   
         .main-menu li,
         .main-menu li a{
            width: 38px;
            height: 38px;
            
            display: flex;
            justify-content: center;
            align-items: center;
         }
                 
			.main-menu li:last-child div:first-child img{
				width: 30px;
			}
                
         
         
/* --- .aside----------------------------------------- */				
.aside{
   width:100%;
   height: 20%;
   background: #fff; /* #00000077 r,g,b,alpha(투명) */
   position: fixed;
   top:56px;
   left:-100%;
   
   transition:1s;
}

.aside.show{
   left: 0%;
   box-shadow: 0px 3px 5px #544954; /* 마지막 3은 깊이. 종이와 얼마나 떠있는지 */
}
           
         
/* --- .main----------------------------------------- */
.main{
	padding-top: 45px;
}
	
	
/* --- .footer----------------------------------------- */
.footer{
	height: 70px;
  	padding :10px;
  	margin-top : 10px;
	
	font-size: 10px;
	color : #ABB2B9;
	text-align: center;
	
	border-top: 1px solid #e9e9e9;
	
}
