<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myhealingbox.dao.dawn.DawnCategoryDao">

	<!-- <select id="getList" resultMap="myhealingbox.entity.dawn.DawnCategory">
		select * from DawnCategory
		limit ${(_parameter-1)*15},15
	</select> -->
	
	<select id="get" resultType="myhealingbox.entity.dawn.DawnCategory">
		select * from DawnCategory where id=#{id}
	</select>
	
	<select id="insert" parameterType="myhealingbox.entity.dawn.DawnCategory">
		insert into DawnCategory(title)
		values(#{title})
	</select>
	
	<select id="update" parameterType="myhealingbox.entity.dawn.DawnCategory">
		update DawnCategory set title=#{title} where id=#{id};
	</select>
	
	<select id="delete" parameterType="myhealingbox.entity.dawn.DawnCategory">
		delete from DawnCategory where id=#{id};
	</select>

</mapper>