<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myhealingbox.dao.dawn.MemoryDao">

	<select id="getList" resultType="myhealingbox.entity.dawn.Memory">
		select * from Memory order by regDate desc
	</select>

	<select id="get" resultType="myhealingbox.entity.dawn.Memory">
		select * from Memory where id=#{id}
	</select>
	
	<insert id="insert" parameterType="myhealingbox.entity.dawn.Memory">
		insert into Memory(title,content,attachedFile)
		values(#{title},${content},${attachedFile})
	</insert>
	
	<update id="update" parameterType="myhealingbox.entity.dawn.Memory">
		update Memory set title=#{title}, content=#{content}, attachedFile=#{attachedFile}
		where id=#{id}
	</update>
	
	<delete id="delete" parameterType="Integer">
		delete from Memory where id=#{id}
	</delete>
</mapper>