<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myhealingbox.dao.night.VideoDao">
  
<!--   <select id="getList" resultType="com.newlecture.entity.Note">
     select * from Note 
     limit #{(_parameter-1)*15},15
  </select> -->
  
  <!-- 구현 -->
   <select id="get" resultType="myhealingbox.entity.night.Video">
     select * from Note where id=#{id}
  </select>
  
  <insert id="insert" parameterType="myhealingbox.entity.night.Video">
     insert into Note(title,content,writerId)
     values(#{title},#{content},#{writerId})
  </insert>
  
</mapper>