<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myhealingbox.dao.day.DayCategoryDao">

	<select id="getList" resultType="myhealingbox.entity.day.DayCategory">
		select * from DayCategory
		<!-- limit #{(_parameter-1)*15},15 -->
	</select>

	<select id="get" resultType="myhealingbox.entity.day.DayCategory">
		select * from DayCategory where id=#{id}
	</select>
	
	<!-- <select id="getTitle" resultType="myhealingbox.entity.day.DayCategory">
		select title from DayCategory where id=#{id}
	</select> -->


	<insert id="insert" parameterType="myhealingbox.entity.day.DayCategory">
		insert into DayCategory(title)
		values(#{title})
	</insert>
  
</mapper>