<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myhealingbox.dao.day.WantToDoDao">
	
	<select id="get" resultType="myhealingbox.entity.day.WantToDo">
		select * from WantToDo where id=#{id}
	</select>	
	
	<select id="getListTitle" resultType="myhealingbox.entity.day.WantToDo">
		select title from dayCategory where id=#{id}
		<!-- limit #{(_parameter-1)*15},15 -->
	</select>
	
	<insert id="insert" parameterType="myhealingbox.entity.day.WantToDo">
		insert into WantToDo(id,title,content,dayCategoryId)
		values(#{id},#{title},#{content},#{dayCategoryId})
	</insert>
</mapper>