<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myhealingbox.dao.day.WantToDoDao">
	<select id="getList" resultType="myhealingbox.entity.day.WantToDo">
		select title,content from WantToDo <!-- where dayCategoryId={id} -->
		<!-- limit #{(_parameter-1)*15},15 -->
	</select>
</mapper>